.contact {
    background: #0a0a0a;
    font-family: Cormorant Garamond, serif;
    color: ivory;
    padding: 128px 80px;
    border-top: 1px solid rgb(217, 180, 106,0.4);
}
.contact-header h2 {
    font-size: 4rem;
    font-weight: 500;
    word-spacing: 3px;
    padding-bottom: 30px;

}
.contact-header span {
    color:  #d9b46a;
}
.contact-header p {
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 25px;
}
.contact-header {
    text-align: center;
    margin: 0 0 70px;
}
.information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    
}
.name {
   padding: 5px 10px;
    
   
}
input {
    padding: 12px 16px;
    background-color: #1a1a1a;
    border: none;
    border-radius: 4px;
    width: 100%;
    caret-color: white;
    outline: none;
    color: white;
    font-family: Cormorant Garamond, serif;
}
.name p {
    padding-bottom: 10px;
}
.name5 {
    padding: 10px;
}
.name5 p {
    padding-bottom: 10px;
}
textarea {
    background-color: #1a1a1a;
    min-height: 150px;
    width: 85vw;
    padding: 20px;
    font-family: Cormorant Garamond, serif;
    border-radius: 4px;
    outline: none;
    cursor: text;
    border: none;
    caret-color: white;
    color: white;

}
textarea:focus {
    border: 1.5px solid #d9b46a;
}
input:focus {
    border: 1.5px solid #d9b46a;
}
button {
    margin-top: 30px;
    width: 100%;
    padding: 16px;
    font-size: 18px;
    background: #d9b46a;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
@media (max-width:700px) {
    .contact {
        padding: 20px;
    }
    .contact-header h2 {
        font-size: 2.5rem;
        word-spacing: 1.5px;
    }
    .contact-header p {
        font-size: 1rem;
    }
    textarea {
        max-width: 100%;
        height: auto;
        padding: 16px 10px 5px 16px;
    }
    .information {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    input {
        padding: 8px 3px 5px 8px;
        width: 100%;
    }
    
}

