.services {
    background-color: black;
    color: white;
}
.header-services {
   font-family: cormorant garamond, serif;
    display: block;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 20px;
}
.header-services h2 {
    font-size: 4rem;
    font-weight: 100;
    line-height: 20px;
    margin-bottom: 40px;
    word-spacing: 5px;
}
.header-services span {
    color: #d9b46a;
}
.header-services p {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 15px 0;
    color:( #c6a667,50%,transparent);
    line-height: 30px;
}
.services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    height: fit-content;
    width: auto;
    margin: 10px ;
    align-items: stretch;
    padding-bottom: 10%;
}
.service-item {
   padding: 20px;
    margin: 20px;
    border-radius: 8px;
    background-color: #1a1a1a;
    outline: #fff transparent solid 0.5px;
}
.service-item h3 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.5;
    padding: 20px;
    margin-bottom: 30px;
   
}
.service-item h4 {
    color: white;
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1;
    margin-bottom: 30px;
    font-family: cormorant garamond, serif;
}
.service-item p {
    font-family: cormorant garamond, serif;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.5px;
    color: whitesmoke;
}
.service-item{
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.service-item:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
@media (max-width: 650px) {
    .services-grid {
       display: block;
       
    }
    .header-services h2 {
    font-size: 1.6rem;
    font-weight: 200;
    padding-top: 50px;
    }
    .header-services p {
    font-size: 1rem;
    padding: 5%;}
}
@media (max-width:900px) {
    .services-grid {
       grid-template-columns: 1fr 1fr;
    }
    
}
